body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 70px;
  margin-top: 50px;
  color: #16DDD6;
}

p {
  font-size: 16px;
}


.frame-height {
  height: 750px;
}


.mrg_bot_20 {
  margin-bottom: 20px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

iframe {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: 10px solid black;
  border-radius: 20px;
  border-color: #16DDD6;
/*  #09D1F4   00DCBE*/
  height: 100%;
  width: 100%;
}

.corobot {
  float: right;
  max-height: 450px;
  max-width: 450px;
  width: 100%;
}

.wvv {
  margin-top: 50px;
  height: 77px;
  margin-bottom: 10px;
}
